body {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border-radius: 20px;
    box-shadow: 0 0 20px #ffd633;
    margin: 75px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 20px;
}
p {
    font-size: 22px;
}
.total {
    font-weight: 700;
}